.NavBar {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.NavBar_Vertical {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.NavBar_Vertical .Item {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.NavBar_Vertical .Item::-moz-selection {
  background: #fff;
  color: #000;
}
.NavBar_Vertical .Item::selection {
  background: #fff;
  color: #000;
}
.NavBar_Vertical .Item:hover, .NavBar_Vertical .Item:focus, .NavBar_Vertical .Item:active {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.NavBar_Vertical .Item:hover::-moz-selection, .NavBar_Vertical .Item:focus::-moz-selection, .NavBar_Vertical .Item:active::-moz-selection {
  background: #000;
  color: #fff;
}
.NavBar_Vertical .Item:hover::selection, .NavBar_Vertical .Item:focus::selection, .NavBar_Vertical .Item:active::selection {
  background: #000;
  color: #fff;
}

.NavBarSkeleton {
  background: #000;
  height: 50px;
  overflow: hidden;
}
.NavBarSkeleton .Loader {
  width: 0px;
  height: 100%;
  box-shadow: 0 0 25vw 10vw #fff;
  background: #fff;
  animation: Loading_Horizontal 0.75s linear infinite;
}
.NavBarSkeleton_Vertical {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.NavBarSkeleton_Vertical .Loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px dashed #fff;
  animation: Loading_Vertical 5s linear infinite;
}
.NavBarSkeleton_Vertical p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.NavBarSkeleton_Vertical p::-moz-selection {
  background: #fff;
  color: #000;
}
.NavBarSkeleton_Vertical p::selection {
  background: #fff;
  color: #000;
}

.Item {
  padding: 10px 25px;
  text-decoration: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  position: relative;
  transition: all 0.25s;
}
.Item p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.Item p::-moz-selection {
  background: #fff;
  color: #000;
}
.Item p::selection {
  background: #fff;
  color: #000;
}
.Item:hover, .Item:focus, .Item:active {
  background: #fff;
}
.Item:hover p, .Item:focus p, .Item:active p {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.Item:hover p::-moz-selection, .Item:focus p::-moz-selection, .Item:active p::-moz-selection {
  background: #000;
  color: #fff;
}
.Item:hover p::selection, .Item:focus p::selection, .Item:active p::selection {
  background: #000;
  color: #fff;
}
.Item:hover .Dropdown, .Item:focus .Dropdown, .Item:active .Dropdown {
  display: flex;
  animation: Fade 0.25s linear;
}

.Dropdown {
  position: absolute;
  overflow-x: hidden;
  background: #000;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  width: 300px;
}

.Link {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  background: #000;
}
.Link::-moz-selection {
  background: #fff;
  color: #000;
}
.Link::selection {
  background: #fff;
  color: #000;
}
.Link:hover {
  background: #fff;
  color: #000;
}

@keyframes Fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Loading_Horizontal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}
@keyframes Loading_Vertical {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1280px) {
  .Item {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 1000px) {
  .NavBar {
    display: none;
  }
}/*# sourceMappingURL=NavBar.module.css.map */