@use "./variables/colors" as c;
@use "./variables/spacings" as sp;

@import "./variables/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: only light;
}

body {
  background: c.$white;
}

.swiper-pagination-bullet {
  height: sp.$mid_small !important;
  width: sp.$mid_small !important;
  background: c.$white !important;
  border: 2px solid c.$black !important;
  display: inline-block !important;
  border-radius: 50% !important;
  margin: 0 sp.$extra_small !important;
  opacity: 1 !important;

  &-active {
    background: c.$black !important;
  }
}
