@use "../../../styles/variables/colors" as c;
@use "../../../styles/variables/spacings" as sp;

@import "../../../styles/variables/mixins";

.Sertificates {
  width: 90vw;
  margin: sp.$large auto;
  padding: sp.$mid_small sp.$medium;

  & h2 {
    @include font_black_36(700);
    text-transform: uppercase;
  }
}

.Wrap {
  padding: sp.$medium;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: sp.$mid_small;
}

.Image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1200px) {
  .Wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .Sertificates {
    & h2 {
      @include font_black_30(700);
    }
  }
  .Wrap {
    grid-template-columns: 1fr;
  }

  .Image {
    & img {
      width: 50%;
    }
  }
}

@media screen and (max-width: 600px) {
  .Image {
    & img {
      width: 75%;
    }
  }
}

@media screen and (max-width: 450px) {
  .Image {
    & img {
      width: 100%;
    }
  }
}
