@use "../../../styles/variables/colors" as c;
@use "../../../styles/variables/spacings" as sp;

@import "../../../styles/variables/mixins";

.SideBar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40vw;
  min-width: 300px;
  background: c.$black;
  padding: 25vh 0;
  overflow: scroll;

  &_hidden {
    right: -100%;
    display: none;
  }
}

.Button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0;
  background: none;
}

.Links {
  width: 100%;
  padding: 0 sp.$medium;
  display: flex;
  flex-direction: column;
}

.Link {
  @include font_white_16();
  @include link_white();
  text-align: center;
}

@media screen and (1000px < width) {
  .SideBar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .SideBar {
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overscroll-behavior: contain;

    &_hidden {
      bottom: 100%;
    }
  }
}
