@use "../../../styles/variables/colors" as c;
@use "../../../styles/variables/spacings" as sp;

@import "../../../styles/variables/mixins";

.SideBar {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10vh 0;
  height: calc(100vh - 80px);
  width: 40vw;
  min-width: 300px;
  background: c.$black;
  overflow-y: auto;
  overscroll-behavior: contain;
  opacity: 0.9;

  &_Hidden {
    display: none;
  }
}

.Links {
  width: 100%;
  padding: 0 sp.$medium;
  display: flex;
  flex-direction: column;
}

.Link {
  @include font_white_16();
  @include link_white();
  text-align: center;
}

@media screen and (1000px < width) {
  .SideBar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .SideBar {
    top: 100%;
    left: 0;
    right: 0;
    width: auto;
  }
}
