@use "../../../styles/variables/colors" as c;
@use "../../../styles/variables/spacings" as sp;

@import "../../../styles/variables/mixins";

.SideBar {
  position: absolute;
  top: 100%;
  right: 0;
  height: 100vh;
  width: 40vw;
  min-width: 300px;
  background: c.$black;
  overflow: scroll;
  overscroll-behavior: contain;

  &_Hidden {
    display: none;
  }
}

.Button {
  position: absolute;
  top: sp.$mid_small;
  right: sp.$mid_small;
  cursor: pointer;
  border: 0;
  background: none;
}

.Links {
  width: 100%;
  padding: 0 sp.$medium;
  display: flex;
  flex-direction: column;
}

.Link {
  @include font_white_16();
  @include link_white();
  text-align: center;
}

@media screen and (1000px < width) {
  .SideBar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .SideBar {
    top: 100%;
    left: 0;
    right: 0;
    width: auto;
  }
}
