@use "../../../styles/variables/colors" as c;
@use "../../../styles/variables/spacings" as sp;

@import "../../../styles/variables/mixins";

.PriceList {
  width: 100%;
  background: c.$black;
  padding: sp.$mid_large sp.$extra_large;

  & h2 {
    @include font_white_36(700);
    text-transform: uppercase;
  }

  & form {
    padding: sp.$mid_small sp.$medium;
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 600px;
    gap: sp.$mid_small;
    align-items: center;

    & input {
      width: 100%;
      border: 2px solid c.$black;
      @include font_black_16();
      padding: sp.$small sp.$mid_small;
      outline: 0;
    }

    & button {
      border: 2px solid c.$white;
      background: c.$black;
      @include font_white_16();
      padding: sp.$small sp.$medium;
      border-radius: sp.$small;
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        background: c.$white;
        @include font_black_16();
      }
    }

    & p {
      @include font_white_12();
      text-align: center;
      width: 75%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .PriceList {
    padding: sp.$mid_large sp.$large;

    & form {
      width: 75vw;
    }
  }
}

@media screen and (max-width: 700px) {
  .PriceList {
    & h2 {
      @include font_white_30(700);
    }

    & form {
      padding: sp.$mid_small;
      width: 100%;
      max-width: 100%;
      @include font_black_14();
    }

    & button {
      @include font_white_14();

      &:hover {
        @include font_black_14();
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .PriceList {
    padding: sp.$mid_large sp.$medium;

    & h2 {
      @include font_white_24(700);
    }

    & form {
      & p {
        width: 100%;
      }
    }
  }
}
