@use "../../../styles/variables/colors" as c;
@use "../../../styles/variables/spacings" as sp;

@import "../../../styles/variables/mixins";

.Map {
  width: 90vw;
  margin: sp.$large auto;

  & h2 {
    @include font_black_36(700);
    text-transform: uppercase;
  }
}

.Wrap {
  padding: sp.$medium;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & iframe {
    width: 60vw;
    height: 500px;
    border: 2px solid c.$black;
  }
}

@media screen and (max-width: 1000px) {
  .Wrap {
    & iframe {
      width: 80vw;
    }
  }
}

@media screen and (max-width: 500px) {
  .Wrap {
    & iframe {
      width: 90vw;
    }
  }
}
